In [1]:
#  Import a CSV file into a Pandas DataFrame. Identify and drop rows with missing values.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\PCS\Downloads\Jala Acadamy Data Science\Quikr_car.csv")  

df

,Unnamed: 0,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,0,Ford Figo Duratec Petrol EXI 1.2 - 2015,PLATINUM,Bangalore,"₹3,80,000","35,056 kms",Petrol,NaN,2015,Ford
1,1,Maruti Suzuki Wagon R VXI BS IV - 2016,PLATINUM,Bangalore,"₹4,65,000","44,000 kms",Petrol,NaN,2016,Maruti
2,2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,PLATINUM,Bangalore,"₹13,50,000","42,917 kms",Petrol,NaN,2018,Hyundai
3,3,Hyundai Venue - 2019,PLATINUM,Chennai,"₹10,19,699","16,112 kms",Petrol,2nd Owner,2019,Hyundai
4,4,Honda Jazz - 2017,PLATINUM,Pune,"₹7,13,499","30,988 kms",Petrol,2nd Owner,2017,Honda
...,...,...,...,...,...,...,...,...,...,...
1027,1027,Hyundai i10 Magna 1.2 - 2014,GOLD,Bangalore,"₹2,29,000","65,000 kms",Petrol,1st Owner,2014,Hyundai
1028,1028,Maruti Suzuki Alto K10 LXi CNG - 2014,GOLD,Bangalore,"₹2,75,000","60,000 kms",Petrol,NaN,2014,Maruti
1029,1029,Jeep Compass Limited 2.0 Diesel - 2017,GOLD,Mahasamund,"₹17,50,000","31,000 kms",Diesel,1st Owner,2017,Jeep
1030,1030,Jeep Compass Limited 2.0 Diesel - 2017,GOLD,Bilaspur,"₹17,50,000","31,000 kms",Diesel,1st Owner,2017,Jeep
1031,1031,Jeep Compass Limited 2.0 Diesel - 2017,GOLD,Jagdalpur,"₹17,50,000","31,000 kms",Diesel,1st Owner,2017,Jeep

In [4]:
print("Original DataFrame shape:", df.shape)

Original DataFrame shape: (1032, 10)

In [5]:
df_cleaned = df.dropna()

print("DataFrame shape after dropping missing values:", df_cleaned.shape)

DataFrame shape after dropping missing values: (739, 10)

In [6]:
#  Replace missing numerical values with the mean of the column

In [7]:
df_filled_mean = df.copy()
df_filled_mean.fillna(df_filled_mean.mean(numeric_only=True), inplace=True)

In [8]:
# Replace missing categorical values with the mode of the column

In [9]:
for column in df.select_dtypes(include='object').columns:
    mode_value = df[column].mode()[0] 
    df_filled_mean[column].fillna(mode_value, inplace=True)