In [1]:
#  Merge two DataFrames based on a common key and fill missing values

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Score': [90, 85, 88]
})

merged_df = pd.merge(df1, df2, on='ID', how='outer')

merged_df_filled = merged_df.fillna({'Score': 0, 'Name': 'N/A'})

print(merged_df_filled)

   ID     Name  Score
0   1    Alice   90.0
1   2      Bob   85.0
2   3  Charlie    0.0
3   4      N/A   88.0

In [4]:
# Perform a left join on two DataFrames with different keys and handle missing data

In [5]:
df_left = pd.DataFrame({
    'emp_id': [101, 102, 103],
    'Employee': ['Tom', 'Jerry', 'Spike']
})

df_right = pd.DataFrame({
    'id': [101, 104],
    'Salary': [50000, 60000]
})

left_joined = pd.merge(df_left, df_right, how='left', left_on='emp_id', right_on='id')

left_joined.fillna({'Salary': 0}, inplace=True)

print(left_joined)

   emp_id Employee     id   Salary
0     101      Tom  101.0  50000.0
1     102    Jerry    NaN      0.0
2     103    Spike    NaN      0.0

In [6]:
#  Concatenate two DataFrames along columns and handle duplicate column names

In [7]:
df_a = pd.DataFrame({
    'A': [1, 2],
    'B': [3, 4]
})

df_b = pd.DataFrame({
    'B': [5, 6],
    'C': [7, 8]
})

df_b_renamed = df_b.rename(columns=lambda x: f"{x}_2" if x in df_a.columns else x)

concatenated_df = pd.concat([df_a, df_b_renamed], axis=1)

print(concatenated_df)

   A  B  B_2  C
0  1  3    5  7
1  2  4    6  8