In [1]:
# 1.Load a CSV file into a Pandas DataFrame and display the first 10 rows

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\PCS\Downloads\Jala Acadamy Data Science\Quikr_car.csv")  
print(df.head(10))

   Unnamed: 0                                            Name     Label  \
0           0         Ford Figo Duratec Petrol EXI 1.2 - 2015  PLATINUM
1           1          Maruti Suzuki Wagon R VXI BS IV - 2016  PLATINUM
2           2    Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018  PLATINUM
3           3                            Hyundai Venue - 2019  PLATINUM
4           4                               Honda Jazz - 2017  PLATINUM
5           5                              Hyundai i20 - 2013  PLATINUM
6           6  Maruti Suzuki Swift Dzire VXi 1.2 BS IV - 2015  PLATINUM
7           7               Toyota Corolla Altis VL AT - 2017  PLATINUM
8           8                              Honda Amaze - 2013  PLATINUM
9           9               Hyundai Elite i20 Asta 1.2 - 2017  PLATINUM

    Location       Price   Kms_driven Fuel_type       Owner  Year  Company
0  Bangalore   ₹3,80,000  35,056 kms     Petrol         NaN  2015     Ford
1  Bangalore   ₹4,65,000  44,000 kms     Petrol         NaN  2016   Maruti
2  Bangalore  ₹13,50,000  42,917 kms     Petrol         NaN  2018  Hyundai
3    Chennai  ₹10,19,699  16,112 kms    Petrol    2nd Owner  2019  Hyundai
4       Pune   ₹7,13,499  30,988 kms    Petrol    2nd Owner  2017    Honda
5       Pune   ₹3,91,099  69,163 kms    Diesel    2nd Owner  2013  Hyundai
6       Pune   ₹4,74,299  42,859 kms    Petrol    2nd Owner  2015   Maruti
7       Pune  ₹12,52,999  34,919 kms    Petrol    1st Owner  2017   Toyota
8       Pune   ₹3,93,699  44,940 kms     Petrol         NaN  2013    Honda
9       Pune   ₹7,30,899  13,687 kms    Petrol    1st Owner  2017  Hyundai

In [4]:
# 2. Perform groupby operations to find the mean and sum of numerical columns based on a categorical column

In [5]:
df = df[df['Price'] != 'Ask For Price']
df = df.dropna(subset=['Price', 'Kms_driven'])

df['Price'] = df['Price'].str.replace('₹', '', regex=False)\
                         .str.replace(',', '', regex=False).astype(int)

df['Kms_driven'] = df['Kms_driven'].str.replace(' kms', '', regex=False)\
                                   .str.replace(',', '', regex=False).astype(int)

grouped = df.groupby('Company')[['Price', 'Kms_driven']].agg(['mean', 'sum'])

print(grouped)

                   Price               Kms_driven
                    mean        sum          mean       sum
Company
Audi        1.961400e+06    9806999  81931.200000    409656
BMW         1.511127e+06   10577888  56571.428571    396000
Chevrolet   1.438989e+05    1582888  69639.090909    766030
Datsun      3.633992e+05    1453597  23537.250000     94149
Fiat        2.120000e+05     636000  64333.333333    193000
Ford        6.554853e+05   33429752  47526.784314   2423866
Honda       6.457128e+05   51011311  50562.126582   3994408
Hyundai     6.213540e+05  140426014  48749.915929  11017481
Jaguar      3.287500e+06    6575000  45500.000000     91000
Jeep        1.782689e+06   17826894  35421.000000    354210
Kia         1.458330e+06   14583296  24535.500000    245355
Land        4.490000e+06    4490000  51000.000000     51000
MG          1.756235e+06   29855987  13855.764706    235548
Mahindra    7.363775e+05   30191478  82321.439024   3375179
Maruti      5.228073e+05  200235203  45972.921671  17607629
Mercedes    3.772222e+06   15088888  56250.000000    225000
Nissan      4.497396e+05    2248698  44604.800000    223024
Porsche     3.300000e+06    3300000  38000.000000     38000
Renault     5.194015e+05   22334265  35300.279070   1517912
Skoda       6.900497e+05    4140298  85240.000000    511440
Ssangyong   1.231000e+06    1231000  82000.000000     82000
Tata        7.078790e+05   31146678  50177.727273   2207820
Toyota      1.175983e+06   48215289  95320.609756   3908145
Volkswagen  6.104889e+05   17704178  49775.137931   1443479
Volvo       2.725000e+06    5450000  98000.000000    196000

In [6]:
# 2. Handle missing data in a DataFrame by replacing NaN values with the column mean

In [7]:
df_filled = df.fillna(df.mean(numeric_only=True))
print(df_filled)

      Unnamed: 0                                          Name     Label  \
0              0       Ford Figo Duratec Petrol EXI 1.2 - 2015  PLATINUM
1              1        Maruti Suzuki Wagon R VXI BS IV - 2016  PLATINUM
2              2  Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018  PLATINUM
3              3                          Hyundai Venue - 2019  PLATINUM
4              4                             Honda Jazz - 2017  PLATINUM
...          ...                                           ...       ...
1027        1027                  Hyundai i10 Magna 1.2 - 2014      GOLD
1028        1028         Maruti Suzuki Alto K10 LXi CNG - 2014      GOLD
1029        1029        Jeep Compass Limited 2.0 Diesel - 2017      GOLD
1030        1030        Jeep Compass Limited 2.0 Diesel - 2017      GOLD
1031        1031        Jeep Compass Limited 2.0 Diesel - 2017      GOLD

        Location    Price  Kms_driven Fuel_type       Owner  Year  Company
0      Bangalore   380000       35056    Petrol         NaN  2015     Ford
1      Bangalore   465000       44000    Petrol         NaN  2016   Maruti
2      Bangalore  1350000       42917    Petrol         NaN  2018  Hyundai
3        Chennai  1019699       16112   Petrol    2nd Owner  2019  Hyundai
4           Pune   713499       30988   Petrol    2nd Owner  2017    Honda
...          ...      ...         ...       ...         ...   ...      ...
1027   Bangalore   229000       65000   Petrol    1st Owner  2014  Hyundai
1028   Bangalore   275000       60000    Petrol         NaN  2014   Maruti
1029  Mahasamund  1750000       31000   Diesel    1st Owner  2017     Jeep
1030    Bilaspur  1750000       31000   Diesel    1st Owner  2017     Jeep
1031   Jagdalpur  1750000       31000   Diesel    1st Owner  2017     Jeep

[1026 rows x 10 columns]

In [8]:
# 4. Merge two DataFrames on a common key and perform different types of joins

In [9]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Score': [85, 90, 75]})

inner = pd.merge(df1, df2, on='ID', how='inner')
outer = pd.merge(df1, df2, on='ID', how='outer')
left = pd.merge(df1, df2, on='ID', how='left')
right = pd.merge(df1, df2, on='ID', how='right')

print("Inner Join:\n", inner)
print("Outer Join:\n", outer)
print("Left Join:\n", left)
print("Right Join:\n", right)

Inner Join:
    ID     Name  Score
0   2      Bob     85
1   3  Charlie     90
Outer Join:
    ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0
3   4      NaN   75.0
Left Join:
    ID     Name  Score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0
Right Join:
    ID     Name  Score
0   2      Bob     85
1   3  Charlie     90
2   4      NaN     75

In [10]:
# 5.Convert a column of object type into a float type and handle conversion errors

In [11]:
df['Price'] = df['Price'].astype(str).str.replace('₹', '', regex=False)\
                                     .str.replace(',', '', regex=False)

df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

print(df['Price'].dtype)
print(df['Price'].head())

int64
0     380000
1     465000
2    1350000
3    1019699
4     713499
Name: Price, dtype: int64

In [12]:
# 6. Filter a DataFrame to select rows where a column's values fall within a given range

In [13]:
filtered_df = df[(df['Price'] >= 500000) & (df['Price'] <= 1000000)]
print(filtered_df)

      Unnamed: 0                                  Name     Label   Location  \
4              4                     Honda Jazz - 2017  PLATINUM       Pune
9              9     Hyundai Elite i20 Asta 1.2 - 2017  PLATINUM       Pune
11            11                     Honda Jazz - 2018  PLATINUM       Pune
12            12           Maruti Suzuki Baleno - 2016  PLATINUM       Pune
17            17  Hyundai Elite i20 ASTA 1.2 O  - 2016      GOLD  Bangalore
...          ...                                   ...       ...        ...
1018        1018      Hyundai Elite i20 Era 1.2 - 2018  PLATINUM    Chennai
1019        1019           Maruti Suzuki Baleno - 2016  PLATINUM    Chennai
1022        1022    Maruti Suzuki Vitara Brezza - 2017  PLATINUM    Chennai
1025        1025       Maruti Suzuki Eeco 5 STR - 2020      GOLD     Trichy
1026        1026    Maruti Suzuki Swift VDi ABS - 2018      GOLD      Delhi

       Price  Kms_driven Fuel_type       Owner  Year  Company
4     713499       30988   Petrol    2nd Owner  2017    Honda
9     730899       13687   Petrol    1st Owner  2017  Hyundai
11    707599       21426   Petrol    2nd Owner  2018    Honda
12    688899       68177   Diesel    2nd Owner  2016   Maruti
17    735000       26000    Petrol         NaN  2016  Hyundai
...      ...         ...       ...         ...   ...      ...
1018  534499       26226   Petrol    1st Owner  2018  Hyundai
1019  681399       43287   Petrol    2nd Owner  2016   Maruti
1022  856699       54044   Diesel    2nd Owner  2017   Maruti
1025  525000       13000    Petrol         NaN  2020   Maruti
1026  550000       42000    Diesel         NaN  2018   Maruti

[447 rows x 10 columns]

In [14]:
# 7. Create a pivot table and analyze data using multiple aggregations

In [15]:
pivot = df.pivot_table(values='Price', index='Location', columns='Fuel_type', aggfunc=['sum', 'mean'])
print(pivot)

                         sum                                                \
Fuel_type                CNG       CNG       Diesel     Diesel   Electric
Location
Ahmedabad                NaN        NaN    480000.0   1891000.0        NaN
Anand                    NaN  1069999.0         NaN         NaN        NaN
Bangalore                NaN        NaN  12841898.0  27425878.0   420000.0
Bhubaneswar              NaN        NaN         NaN         NaN        NaN
Bilaspur                 NaN        NaN         NaN   1750000.0        NaN
BolpurSantiniketan       NaN        NaN   1500000.0         NaN        NaN
Chandigarh               NaN        NaN         NaN   1231000.0        NaN
Chennai                  NaN        NaN  44528000.0  31033873.0        NaN
Coimbatore               NaN        NaN         NaN         NaN        NaN
Delhi               250000.0        NaN   1210000.0   1900000.0        NaN
Dhanbad                  NaN        NaN    475000.0         NaN        NaN
Dwarka                   NaN  1069999.0         NaN         NaN        NaN
Faridabad                NaN        NaN         NaN         NaN        NaN
GirSomnath               NaN  1069999.0         NaN         NaN        NaN
Gurgaon                  NaN        NaN    240000.0         NaN        NaN
Hyderabad                NaN        NaN   3744000.0         NaN        NaN
Jagdalpur                NaN        NaN         NaN   1750000.0        NaN
Jaipur                   NaN        NaN   4000000.0         NaN        NaN
Kanchipuram              NaN        NaN    650000.0         NaN        NaN
Kochi                    NaN        NaN    440000.0         NaN        NaN
Kolkata                  NaN        NaN   1700000.0   6978328.0        NaN
Kozhikode                NaN        NaN         NaN   1050000.0        NaN
Kurnool                  NaN        NaN    330000.0         NaN        NaN
Lucknow                  NaN        NaN   2931000.0         NaN        NaN
Madurai                  NaN        NaN  11785000.0         NaN        NaN
Mahasamund               NaN        NaN         NaN   1750000.0        NaN
Malappuram               NaN        NaN   1231000.0         NaN        NaN
Mumbai                   NaN        NaN  16700000.0   8880000.0  3300000.0
Muzaffarnagar            NaN        NaN   1500000.0         NaN        NaN
Nagpur                   NaN        NaN   1146000.0         NaN        NaN
Nanded                   NaN        NaN    200000.0         NaN        NaN
NaviMumbai               NaN        NaN    450000.0         NaN        NaN
Pondicherry              NaN        NaN   2270000.0         NaN        NaN
Pune                625000.0        NaN  11155000.0  63375128.0        NaN
Surat                    NaN        NaN         NaN   1501000.0        NaN
Thane                    NaN        NaN    450000.0         NaN        NaN
Trichy                   NaN        NaN   3820000.0         NaN        NaN
Udaipur                  NaN        NaN         NaN         NaN        NaN
Uttarpara                NaN        NaN         NaN         NaN        NaN

                                                                 \
Fuel_type            Hybrid        LPG      Petrol      Petrol
Location
Ahmedabad                NaN       NaN         NaN    1531000.0
Anand                    NaN       NaN         NaN          NaN
Bangalore                NaN       NaN  16766099.0  101425221.0
Bhubaneswar              NaN       NaN    524000.0          NaN
Bilaspur                 NaN       NaN         NaN          NaN
BolpurSantiniketan       NaN       NaN         NaN          NaN
Chandigarh               NaN       NaN         NaN          NaN
Chennai                  NaN       NaN  22451499.0   89913534.0
Coimbatore               NaN       NaN         NaN    1550000.0
Delhi               590000.0       NaN    350000.0     336000.0
Dhanbad                  NaN       NaN         NaN          NaN
Dwarka                   NaN       NaN         NaN          NaN
Faridabad                NaN       NaN    820000.0          NaN
GirSomnath               NaN       NaN         NaN          NaN
Gurgaon                  NaN       NaN         NaN          NaN
Hyderabad                NaN  240000.0   2745000.0     795000.0
Jagdalpur                NaN       NaN         NaN          NaN
Jaipur                   NaN       NaN   1165000.0          NaN
Kanchipuram              NaN       NaN         NaN          NaN
Kochi                    NaN       NaN         NaN          NaN
Kolkata                  NaN       NaN    665000.0    3182552.0
Kozhikode                NaN       NaN         NaN          NaN
Kurnool                  NaN       NaN         NaN          NaN
Lucknow                  NaN       NaN         NaN      73000.0
Madurai                  NaN       NaN   3125000.0          NaN
Mahasamund               NaN       NaN         NaN          NaN
Malappuram               NaN       NaN         NaN          NaN
Mumbai                   NaN       NaN  10015000.0     699000.0
Muzaffarnagar            NaN       NaN         NaN          NaN
Nagpur                   NaN       NaN    460000.0          NaN
Nanded                   NaN       NaN         NaN          NaN
NaviMumbai               NaN       NaN         NaN    2049000.0
Pondicherry              NaN       NaN         NaN          NaN
Pune                     NaN       NaN  13788699.0  139158298.0
Surat                    NaN       NaN         NaN    1401000.0
Thane                    NaN       NaN         NaN          NaN
Trichy                   NaN       NaN   1200000.0          NaN
Udaipur                  NaN       NaN    295000.0          NaN
Uttarpara                NaN       NaN     90000.0          NaN

                                       mean                           \
Fuel_type           Petrol + CNG        CNG       CNG         Diesel
Location
Ahmedabad                     NaN       NaN        NaN  4.800000e+05
Anand                         NaN       NaN  1069999.0           NaN
Bangalore                     NaN       NaN        NaN  7.134388e+05
Bhubaneswar                   NaN       NaN        NaN           NaN
Bilaspur                      NaN       NaN        NaN           NaN
BolpurSantiniketan            NaN       NaN        NaN  1.500000e+06
Chandigarh                    NaN       NaN        NaN           NaN
Chennai                       NaN       NaN        NaN  1.012000e+06
Coimbatore                    NaN       NaN        NaN           NaN
Delhi                         NaN  250000.0        NaN  4.033333e+05
Dhanbad                       NaN       NaN        NaN  4.750000e+05
Dwarka                        NaN       NaN  1069999.0           NaN
Faridabad                     NaN       NaN        NaN           NaN
GirSomnath                    NaN       NaN  1069999.0           NaN
Gurgaon                       NaN       NaN        NaN  2.400000e+05
Hyderabad                     NaN       NaN        NaN  9.360000e+05
Jagdalpur                     NaN       NaN        NaN           NaN
Jaipur                        NaN       NaN        NaN  6.666667e+05
Kanchipuram                   NaN       NaN        NaN  6.500000e+05
Kochi                         NaN       NaN        NaN  4.400000e+05
Kolkata                       NaN       NaN        NaN  5.666667e+05
Kozhikode                     NaN       NaN        NaN           NaN
Kurnool                       NaN       NaN        NaN  3.300000e+05
Lucknow                       NaN       NaN        NaN  2.931000e+06
Madurai                       NaN       NaN        NaN  1.309444e+06
Mahasamund                    NaN       NaN        NaN           NaN
Malappuram                    NaN       NaN        NaN  1.231000e+06
Mumbai                        NaN       NaN        NaN  2.783333e+06
Muzaffarnagar                 NaN       NaN        NaN  1.500000e+06
Nagpur                        NaN       NaN        NaN  3.820000e+05
Nanded                        NaN       NaN        NaN  2.000000e+05
NaviMumbai                    NaN       NaN        NaN  4.500000e+05
Pondicherry                   NaN       NaN        NaN  1.135000e+06
Pune                     904598.0  312500.0        NaN  7.436667e+05
Surat                         NaN       NaN        NaN           NaN
Thane                         NaN       NaN        NaN  4.500000e+05
Trichy                        NaN       NaN        NaN  7.640000e+05
Udaipur                       NaN       NaN        NaN           NaN
Uttarpara                     NaN       NaN        NaN           NaN

                                                                               \
Fuel_type                Diesel   Electric    Hybrid        LPG        Petrol
Location
Ahmedabad           9.455000e+05        NaN       NaN       NaN           NaN
Anand                        NaN        NaN       NaN       NaN           NaN
Bangalore           1.097035e+06   420000.0       NaN       NaN  5.588700e+05
Bhubaneswar                  NaN        NaN       NaN       NaN  2.620000e+05
Bilaspur            1.750000e+06        NaN       NaN       NaN           NaN
BolpurSantiniketan           NaN        NaN       NaN       NaN           NaN
Chandigarh          1.231000e+06        NaN       NaN       NaN           NaN
Chennai             8.387533e+05        NaN       NaN       NaN  3.680574e+05
Coimbatore                   NaN        NaN       NaN       NaN           NaN
Delhi               9.500000e+05        NaN  590000.0       NaN  1.750000e+05
Dhanbad                      NaN        NaN       NaN       NaN           NaN
Dwarka                       NaN        NaN       NaN       NaN           NaN
Faridabad                    NaN        NaN       NaN       NaN  8.200000e+05
GirSomnath                   NaN        NaN       NaN       NaN           NaN
Gurgaon                      NaN        NaN       NaN       NaN           NaN
Hyderabad                    NaN        NaN       NaN  240000.0  5.490000e+05
Jagdalpur           1.750000e+06        NaN       NaN       NaN           NaN
Jaipur                       NaN        NaN       NaN       NaN  2.912500e+05
Kanchipuram                  NaN        NaN       NaN       NaN           NaN
Kochi                        NaN        NaN       NaN       NaN           NaN
Kolkata             9.969040e+05        NaN       NaN       NaN  3.325000e+05
Kozhikode           5.250000e+05        NaN       NaN       NaN           NaN
Kurnool                      NaN        NaN       NaN       NaN           NaN
Lucknow                      NaN        NaN       NaN       NaN           NaN
Madurai                      NaN        NaN       NaN       NaN  1.041667e+06
Mahasamund          1.750000e+06        NaN       NaN       NaN           NaN
Malappuram                   NaN        NaN       NaN       NaN           NaN
Mumbai              1.480000e+06  3300000.0       NaN       NaN  2.003000e+06
Muzaffarnagar                NaN        NaN       NaN       NaN           NaN
Nagpur                       NaN        NaN       NaN       NaN  2.300000e+05
Nanded                       NaN        NaN       NaN       NaN           NaN
NaviMumbai                   NaN        NaN       NaN       NaN           NaN
Pondicherry                  NaN        NaN       NaN       NaN           NaN
Pune                8.802101e+05        NaN       NaN       NaN  4.596233e+05
Surat               1.501000e+06        NaN       NaN       NaN           NaN
Thane                        NaN        NaN       NaN       NaN           NaN
Trichy                       NaN        NaN       NaN       NaN  4.000000e+05
Udaipur                      NaN        NaN       NaN       NaN  2.950000e+05
Uttarpara                    NaN        NaN       NaN       NaN  9.000000e+04


Fuel_type                Petrol   Petrol + CNG
Location
Ahmedabad           7.655000e+05            NaN
Anand                        NaN            NaN
Bangalore           5.572814e+05            NaN
Bhubaneswar                  NaN            NaN
Bilaspur                     NaN            NaN
BolpurSantiniketan           NaN            NaN
Chandigarh                   NaN            NaN
Chennai             5.289031e+05            NaN
Coimbatore          1.550000e+06            NaN
Delhi               3.360000e+05            NaN
Dhanbad                      NaN            NaN
Dwarka                       NaN            NaN
Faridabad                    NaN            NaN
GirSomnath                   NaN            NaN
Gurgaon                      NaN            NaN
Hyderabad           7.950000e+05            NaN
Jagdalpur                    NaN            NaN
Jaipur                       NaN            NaN
Kanchipuram                  NaN            NaN
Kochi                        NaN            NaN
Kolkata             4.546503e+05            NaN
Kozhikode                    NaN            NaN
Kurnool                      NaN            NaN
Lucknow             7.300000e+04            NaN
Madurai                      NaN            NaN
Mahasamund                   NaN            NaN
Malappuram                   NaN            NaN
Mumbai              6.990000e+05            NaN
Muzaffarnagar                NaN            NaN
Nagpur                       NaN            NaN
Nanded                       NaN            NaN
NaviMumbai          1.024500e+06            NaN
Pondicherry                  NaN            NaN
Pune                6.889025e+05       452299.0
Surat               1.401000e+06            NaN
Thane                        NaN            NaN
Trichy                       NaN            NaN
Udaipur                      NaN            NaN

Uttarpara                    NaN            NaN

In [16]:
# 8. Use apply() to apply a custom function to each element in a Series

In [17]:
def square(x):
    return x ** 2

df['KmsSquared'] = df['Kms_driven'].apply(square)
print(df[['Kms_driven', 'KmsSquared']])

      Kms_driven  KmsSquared
0          35056  1228923136
1          44000  1936000000
2          42917  1841868889
3          16112   259596544
4          30988   960256144
...          ...         ...
1027       65000  4225000000
1028       60000  3600000000
1029       31000   961000000
1030       31000   961000000
1031       31000   961000000

[1026 rows x 2 columns]

In [18]:
# 9. Create a new column that categorizes a numerical column into bins

In [19]:
bins = [0, 20000, 40000, 60000, 80000, 100000]
labels = ['Very Low', 'Low', 'Medium', 'High', 'Very High']
df['KmsCategory'] = pd.cut(df['Kms_driven'], bins=bins, labels=labels)
print(df[['Kms_driven', 'KmsCategory']])

      Kms_driven KmsCategory
0          35056         Low
1          44000      Medium
2          42917      Medium
3          16112    Very Low
4          30988         Low
...          ...         ...
1027       65000        High
1028       60000      Medium
1029       31000         Low
1030       31000         Low
1031       31000         Low

[1026 rows x 2 columns]

In [20]:
# 10. Replace all instances of a specific value in a column with another

In [21]:
df['Owner'] = df['Owner'].replace('2nd Owner', 'Pre-owned')
print(df['Owner'])

0              NaN
1              NaN
2              NaN
3        2nd Owner
4        2nd Owner
           ...
1027     1st Owner
1028           NaN
1029     1st Owner
1030     1st Owner
1031     1st Owner
Name: Owner, Length: 1026, dtype: object